.quiz-bg-container {
    background-color: #875fc0;
    height: 130vh;
    background-size: cover;
    font-family: Roboto;
}

.quiz-score-heading {
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
    padding-top: 20px;
}

.quiz-question-card {
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.quiz-question-heading {
    font-size: 25px;
    color: #1f2933;
    font-weight: 500;
}

.quiz-question {
    color: #323f4b;
    font-size: 15px;
}

.quiz-question-image {
    height: 130px;
    width: 270px;
    margin: 1px;
}

.quiz-option-card1 {
    background-color: white;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.quiz-option-card {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    margin: 10px;
    border-color: #323f4b;
    padding: 20px;
}

.quiz-option-item {
    border: 2px solid #000000;
    font-size: 18px;
    text-align: left;
    color: #1f2933;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}

.submit-button {
    color: white;
    font-size: 15px;
}

.correct-option-card {
    
}

.correct-option-item {
    color: white;
    background-color: #875fc0;
}

.sytle-list-item {
    list-style-type: none;
    padding: 0;
}